.mission {
    text-align: left;
    text-justify: newspaper;
}

.checkout_container {
    width: 365px;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
    background: #ecf0f36d;
    box-shadow: 14px 14px 20px #cbced131, -14px -14px 20px rgba(255, 255, 255, 0.145);
}


.login-form {
    text-align: left;
    margin-top: 30px;
}

.checkout_container label,
.checkout_container input,
.checkout_container button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.checkout_container label {
    margin-bottom: 4px;
    color: rgb(41, 41, 41);
    margin: 15px 0 5px 5px;
    text-align: left;
}

.checkout_container input::placeholder {
    color: rgb(40, 40, 40);
}

.checkout_container input {
    background: transparent;
    margin: 15px 0 0 0;
    padding: 10px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1cf, inset -6px -6px 6px rgba(255, 255, 255, 0.841);
}

.checkout_container button {
    color: white;
    margin-top: 20px;
    background: #1da0f2e1;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1a2, -6px -6px 6px rgba(255, 255, 255, 0.482);
    transition: 0.5s;
}

.checkout_container button:hover {
    box-shadow: none;
}

.textarea {
    background-color: transparent;
}

.checkout-contain {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width:576px) {
    textarea {
        width: 95%;
    }
}

.checkout-container_main {
    background: url(../../images/photoghraper/nathan.jpg) no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.9;

}



.infoCheckout {
    height: 400px;
    width: auto;
}

.infoCheckout {
    border-radius: 20px;
    box-sizing: border-box;
    background: #040b103c;
    color: #fff;
    font-weight: 700;
    box-shadow: 14px 14px 20px #2c2c2c27, -14px -14px 20px rgba(134, 129, 129, 0.218);
}