.caitlyn_massio {
    font-size: 26px;
    font-weight: 600;
    color: rgba(36, 36, 36, 0.761);
}

.caitlyn_pera {
    letter-spacing: 1px;
    word-spacing: 1.3px;
}

.awrad {
    font-size: 26px;
}

.best {
    font-weight: 900;
    letter-spacing: normal;
}

.featured-bg {
    background-color: #F5EFF0;
}

.massio-bg {
    background-color: #F6F7FA;
}

.bg-photghraper {
    background-color: #ffffff;
}